<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/multiple-select.css">
<script src="${request.contextPath}/statics/js/multiple-select.js"></script>
<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="群名">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("webchatgroups:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("webchatgroups:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("webchatgroups:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">群名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatGroups.name" placeholder="群名"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">头像</div>
			   	<div class="col-sm-10">
						<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">群介绍</div>
			   	<div class="col-sm-10">
			      	<textarea rows="6" maxlength="140" onchange="this.value=this.value.substring(0, 140)" onkeydown="this.value=this.value.substring(0, 140)" onkeyup="this.value=this.value.substring(0, 140)" class="form-control" v-model="webchatGroups.desc" placeholder="群介绍不超过140字."/>
			   	    </textarea>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">群公告</div>
			   	<div class="col-sm-10">
			        <textarea rows="6" maxlength="140" onchange="this.value=this.value.substring(0, 140)" onkeydown="this.value=this.value.substring(0, 140)" onkeyup="this.value=this.value.substring(0, 140)" class="form-control" v-model="webchatGroups.anno" placeholder="群公告不超过140字."/>
			   	    </textarea>
			    </div>
			</div>
			<div class="form-group"   v-if="title=='新增'" >
				<div class="col-sm-2 control-label">邀请成员</div>
				<div class="col-sm-10">
						<input type="text" class="form-control" style="cursor:pointer;"  v-model="user.count"    @click="usersTree" readonly="readonly" placeholder="用户列表"/>
 				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" onclick="javascript:window.location.reload();" value="返回"/>
			</div>
		</form>
			
	</div>
</div>

<!-- 选择用户 -->
<div id=usersLayer style="display: none;padding:10px;">
		
		<select id="tableInfoId0"></select>
		
</div>
			 <script>
		   	 //给下拉框添加样式 
			   	 $("#tableInfoId0").multipleSelect({
				        filter: true , 
				        width:200
			   	 	}
			   	 );

		   	 
			     
		   	 
		 	</script>

   
<script src="${request.contextPath}/statics/js/modules/webchat/webchatgroups.js?_${.now?long}"></script>
</body>
</html>