<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("webchatuser:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("webchatuser:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("webchatuser:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" disabled="disabled" v-model="webchatUser.uid" placeholder="自动生成"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">用户名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.name" placeholder="用户名"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">密码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.password" placeholder="密码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">个人介绍</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.sign" placeholder="个人介绍"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">头像</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.headphoto" placeholder="头像"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">注册时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.addtime" placeholder="注册时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">hashcode</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.hashcode" placeholder="hashcode"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">0 离线 1在线 状态</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webchatUser.online" placeholder="0 离线 1在线 状态"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/webchat/webchatuser.js?_${.now?long}"></script>
</body>
</html>